
<div class="container-fluid">
<div id="overlay">
  <div id="loading_wrapper">
  <div class='loading spin-1'>
  <div class='loading spin-2'>
    <div class='loading spin-3'>
      <div class='loading spin-4'>
        <div class='loading spin-5'>
          <div class='loading spin-6'></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="loader">Loading</div><div class="box"><span class="dot"></span></div></div>
  <div id="photo_wrap">
   <div id="take_photo" class= "centered">
  </div>
  </div>
</div>



