<%= form_for @photo, :html => { :multipart => true } do |f| %>

  <div class="field">

    <%= f.text_field :photo_url, class: "url textarea", :placeholder => "photo url" %>
  </div>

  <div class="field">

    <%= f.text_field :name, class: "name textarea", :placeholder => "give it a name" %>
  </div>

  <%= f.submit "add photo", class: "btn" %>
<% end %>

 <button id="take_photo">Take Photo</button>


