
<div class="container-fluid">
<div id="doverlay">
  <div id="loading_wrapper">
  <div class='loading spin-1'>
  <div class='loading spin-2'>
    <div class='loading spin-3'>
      <div class='loading spin-4'>
        <div class='loading spin-5'>
          <div class='loading spin-6'></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<p><span id="flash_notice" ><%= flash[:notice] %></span></p>
<div class="loader"></div><div class="box"><span class="dot"></span></div></div>
<div id="cameraicon">
          <div id="bottomblack">
             <div id="printer"></div>
          </div>
          <div id="printpaper"></div>
          <div id="flash"></div>
          <div id="button1"></div>
          <div id="button2"></div>
          <div id="button3"></div>
          <div id="lens">
           <div id="middlelens"> </div>
          </div>
          <div id="strip"></div>
</div>
  <div id="photo_wrap">
   <div id="take_photo" class= "centered">
  </div>
  </div>
</div>



