  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Lobster);
body {

    background: -webkit-linear-gradient(90deg, #fe8c00 10%, #f83600 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #fe8c00 10%, #f83600 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #fe8c00 10%, #f83600 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #fe8c00 10%, #f83600 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #fe8c00 10%, #f83600 90%); /* W3C */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top:100px;

}
#photo_wrap{
  margin-top:50px;
}

#photo_div{
    margin-left: 20%;
    margin-top:5%;
    height: 420px;
    width: 640px;
    overflow: hidden;
}



#recognition_results, #photo_age_gender {
    margin-top: 10%;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    color: white;
    font-size: 70px;
}

#homepage_title {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 100px;
    color: white;
}

#age_p_display {
  float: left;
}

///////////////button

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



#snapper0 {
  z-index: 1;
  width:  500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
////////////////button

ul {

  list-style: none;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  color: gray;
  padding: 50px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 13px 5px white;
}
li {
  width: 100%;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.2);
  border: 3px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}
li div {
  height:100px;
  padding: 10px 0;
  background-color: yellow;
  box-sizing: border-box;
  -webkit-transition: width 2s ease-in-out,
                    padding 3s linear;
  -webkit-animation: mymove 3s infinite;
  transition: width 2s ease-in-out;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-indent: 10px;
}

@-webkit-keyframes mymove {
    0%   {top: 0px; background: red; }
    100% {top: 200px; background: yellow; }
}

@keyframes mymove {
    0%   {top: 0px; background: red; width: 100px;}
    100% {top: 200px; background: yellow; width: 300px;}
}

li div.end {
  color: black;
}
li div.start {
  width: 0%;
}
li.beauty div.end {
  width: 0%;
}
li.race div.end {
  width: 0%;
}
li.emotion-1 div.end {
  width: 0%;
}
li.emotion-2 div.end {
  width: 0%;
}
li.emotion-3 div.end {
  width: 0%;
}

#bar-chart{
  height:800px;
  width:600px;
  float: right;
  margin-top: 8%;
  margin-right: 10%;
}

#stat-ul {


}

.value {
  float: right
}




////////////////////

@mixin font-size($size: 1.6,$line: $size*1.5) {
    font-size:   ($size) + px;
    font-size:   $size/16 + rem;
    line-height: $line/16 + rem;
    line-height: ($line) + px;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);



.circular-bar{
  text-align: center;
  .circular-bar-content{
    margin-bottom: 70px;
    margin-top: -95px;
    text-align: center;
    strong{
      display: block;
      font-weight: 600;
      @include font-size(18,24);
    }
    label{
      display: block;
      font-weight: 300;
      @include font-size(15,20);
    }
  }
}


//////animate
@charset "UTF-8";
/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
          animation-name: tada;
}



/////////////loading
svg {
  display: inline-block;
  vertical-align: middle;
}

path {
  stroke: cyan;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 193.904983521;
  fill: none;
  animation:
    load 4s linear infinite,
    color 3s linear infinite;
}

@keyframes load {
  from { stroke-dashoffset: 775.6199340820312; }
}

@keyframes color {
  33% { stroke: yellow; }
  66% { stroke: magenta; }
}

#overlay {

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: black;
    background-size: cover;

}

/////loader
@keyframes loading {
   0% {
        transform: rotate(0deg);
   }
   25%{
     transform: rotate(160deg);
   }
   50%{
    transform: rotate(0deg);
   }
   75%{
    transform: rotate(160deg);
   }
   100% {
    transform: rotate(0deg);
   };
}



.loading {
  background-color: transparent;
  border-radius: 50%;
  margin: 5px auto;
  animation: loading 5s infinite linear;


}

.spin-1{
  border: 5px solid #c00353 ;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  width: 120px;
  height: 120px;
}
.spin-2{
  border: 5px solid #05bbc3 ;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  width: 100px;
  height: 100px;
  animation-delay: 1s;
}
.spin-3{
  border: 5px solid #d2d947 ;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  width: 80px;
  height: 80px;
  animation-delay: 1s;
}
.spin-4{
  border: 5px solid #f2a342 ;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  width: 60px;
  height: 60px;
  animation-delay: 1s;
}
.spin-5{
  border: 5px solid #f34d51 ;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  width: 40px;
  height: 40px;
  animation-delay: 1s;
}
.spin-6{
  border: 5px solid #fff ;
  width: 20px;
  height: 20px;
  animation-delay: 1s;
}

#loading_wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//////////////////button

.animates
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  display:hidden;
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  margin-top: 60px;
  margin-left: 400px;
  float: left;
  border-radius: 10px;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: #FFF;
  text-decoration: none;
}

.action-button:hover {
  text-decoration: none;
}

.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
  text-decoration:none
}

.red
{
  background-color: #16a085;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}

///////
#flash_notice {
  font-size: 30px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#disclaimer {
  color: white;
}
/////////////// camera
#cameraicon
      {
        z-index:0;
       width:800px;
       height:850px;
       margin: 0 auto;
       background:#fff;
       border-radius:10px 10px 20px 20px;
       position:relative;
      }

      #bottomblack
      {
      border-radius:0px 0px 15px 15px;
      width:100%;
      height:60px;
      background:#3a3a3c;
      border-top:10px solid #0b0b0b;
      position:absolute;
      bottom:0px;
      left:0px;
      }
      #bottomblack:before
      {
       width: 100%;
      height: 90px;
      position: absolute;
      background: #e7e7e8;
      top: -100px;
      left: 0px;
      content: "";
      }

     #printer
     {
     width:500px;
     height:20px;
     background:#0b0b0b;
     margin:0 auto;
     position:relative;
     top:15px;
     }

     #printpaper
     {
      width: 0px;
      height: 0px;
      background: #778899;
      position: absolute;
      top: 98%;
      left: 20%;
      -webkit-animation:print 2s infinite;
      -moz-animation:print 2s infinite;
      animation:print 2s infinite;
     }
     #printpaper:before
     {
      width: 480px;
      height: 0px;
      background: #bdc3c7;
      position: absolute;
      top: 0px;
      left: 15%;
      content: "";
      -webkit-animation:print1 2s infinite;
      -moz-animation:print 2s infinite;
      animation:print 2s infinite;
     }
     printpaper:after
     {
      width: 100%;
      height: 5px;
      background: #0b0b0b;
      opacity:0.2;
      position: absolute;
      top: 0px;
      left: 300px;
      content: "";
     }
     #flash
     {
     width:130px;
     height:60px;
     background:#4c4d4f;
     border-radius:5px;
     position:absolute;
     right: 5%;
     top: 5%;
     -webkit-box-shadow:inset 0px 0px 10px #3a3a3c;
     -moz-box-shadow:inset 0px 0px 10px #3a3a3c;
     box-shadow:inset 0px 0px 10px #3a3a3c;
     }
     #button1
     {
     width:50px;
     height:20px;
     background:#6d6e71;
     border-radius:5px 5px 0px 0px;
     position:absolute;
     left:25px;
     top:70px;
     }
    #button2
     {
     width:40px;
     height:40px;
     background:#f28021;
     border-radius:50%;
     position:absolute;
     border:5px solid #ffffff;
     -webkit-box-shadow:0px 4px 0px rgba(212,213,214,0.5);
     -moz-box-shadow:0px 4px 0px rgba(212,213,214,0.5);
     box-shadow:0px 4px 0px rgba(212,213,214,0.5);
     left:25px;
     top:120px;
     }
    #button3
     {
     width:25px;
     height:25px;
     background:#3a3a3c;
     border-radius:50%;
     position:absolute;
     border:5px solid #ffffff;
     -webkit-box-shadow:0px 4px 0px rgba(212,213,214,0.5);
     -moz-box-shadow:0px 4px 0px rgba(212,213,214,0.5);
     box-shadow:0px 4px 0px rgba(212,213,214,0.5);
     right:25px;
     top:130px;
     }
    #lens
     {
      width: 700px;
      height: 700px;
      background: #6d6e71;
      border-radius: 50%;
      position: absolute;
      border: 10px solid #e7e8e9;
      -webkit-box-shadow: 0px 8px 0px rgba(209,210,212,0.5);
      -moz-box-shadow: 0px 8px 0px rgba(209,210,212,0.5);
      box-shadow: 0px 8px 0px rgba(209,210,212,0.5);
      left: 50px;
      top: 75px;
      z-index:10;
     }
     #middlelens
     {
    width: 80%;
    height: 80%;
    background: #3a3a3c;
    border-radius: 50%;
    position: absolute;
    left: 10%;
    top: 10%;
     }
    #strip
    {
    width: 50px;
    height: 89px;
    position: absolute;
    left: 135px;
    top: 201px;
    background: #0ba9b3;
    border-left: 50px solid #1198a2;
    z-index: 5;
    }

@-webkit-keyframes print
      {
       0%{height:0px;}
       100%{height:90px;}
      }
@-moz-keyframes print
      {
       0%{height:0px;}
       100%{height:90px;}
      }
@-webkit-keyframes print1
      {
       0%{height:0px;}
       100%{height:80px;}
      }
@-moz-keyframes print1
      {
       0%{height:0px;}
       100%{height:80px;}
      }
      @keyframes print
      {
       0%{height:0px;}
       100%{height:90px;}
      }
      @keyframes print1
      {
       0%{height:0px;}
       100%{height:80px;}
      }

.led {
  position: absolute;
  left: 10%; top: 10%;
  width: 30px; height: 30px;
  border-radius: 50%;
  background-color: rgb(255, 136, 115);
  box-shadow: inset 0px 1px 0px rgba(0,0,0,.1);
  -webkit-animation: led .8s infinite;
  -moz-animation: led .8s infinite;
  -ms-animation: led .8s infinite;
  -o-animation: led .8s infinite;
  animation: led .8s infinite;
}

@-webkit-keyframes led {
  from {
    opacity:.2;
  }

  to {
    opacity:1;
  }
}

@-moz-keyframes led {
  from {
    opacity:.2;
  }

  to {
    opacity:1;
  }
}

@-ms-keyframes led {
  from {
    opacity:.2;
  }

  to {
    opacity:1;
  }
}

@-o-keyframes led {
  from {
    opacity:.2;
  }

  to {
    opacity:1;
  }
}

@keyframes led {
  from {
    opacity:.2;
  }

  to {
    opacity:1;
  }
}
